<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <appSettings>
    <add key="log4net" value="C:\Work\repositories\Carbon.Framework\tests\log4net.config.xml"/>
  </appSettings>

  <castle>

    <facilities>

      <facility id="carbon.integration">

        <gateway id="invoiceGateway"
                         type="Carbon.Test.Domain.Gateways.IInvoiceProcessorGateway, Carbon.Test.Domain"
                         method="Process"/>

        <gateway id="tradesGateway"
                 type="Carbon.Test.Domain.Gateways.ITradesGateway, Carbon.Test.Domain"
                 method="ProcessTrade"/>
        
        <surface name="file mover config surface" available="false">

          <receive-port channel="in2" uri="file://c:\trash\mainframe\inbound" concurrency="1" frequency="1" scheduled="1">
            <pipeline name="file receive pipeline">
              <component ref="byte2string" />
              <component ref="noDups" />
            </pipeline>
          </receive-port>

          <collaborations>
            <!--<add ref="testComponent" input-channel="" output-channel="" />-->
            <add ref="testComponent"  input-channel="in2" output-channel="out2"/>
          </collaborations>

          <send-port channel="out2" uri="file://c:\Trash\mainframe\outbound" concurrency="1" frequency="1" scheduled="1">
            <!--
            <pipeline name="file send pipeline">
              <component ref="addDateTime" />
            </pipeline>
            -->
          </send-port>

        </surface>

        <!-- need to do this last so that all channels are monitored -->
        <log-channel name="*" />
        
      </facility>

    </facilities>

    <components>

      <component id="noDups"
                type="Carbon.Core.Pipeline.Component.NonIdempotentPipelineComponent, Carbon.Core" />
      
      <component id="byte2string"
                 type="Carbon.Core.Pipeline.Component.BytesToStringPipelineComponent, Carbon.Core" />

      <component id="addDateTime"
                type="Carbon.Integration.Tests.AppendDateTimeToMessagePipelineComponent, Carbon.Integration.Tests" />
      
      <component id="testComponent"
           type="Carbon.Integration.Tests.TestComponent2, Carbon.Integration.Tests" />


      <component id="testComponent"
           type="Carbon.Integration.Tests.TestComponent2, Carbon.Integration.Tests" />


    </components>

  </castle>



</configuration>